<header class="topheader">
    <nav class="topnav">
        <a href="#" class="logo">
            <img height="50px" width="50px" src="../../../../../assets/APLogo.png" alt="firma"/>
            <div>argentina<br>programa</div>
        </a>
        
        <button class="open-menu" aria-label="Abrir menú">
            <img height="30px" width="30px" src="../../../../../assets/APLogo.png" alt="Abrir menú">
        </button>
        <ul class="menu">
            <button class="close-menu" aria-label="Cerrar menú">
                <img height="30px" width="30px" src="../../../../../assets/APLogo.png" alt="Cerrar menú">
            </button>
            <li><a href="#inicio">home</a></li>
            <li><a href="#tecnology">proyectos</a></li>
            <li><a href="#experiencias">experiencias</a></li>
            <li><a href="#contact">contacto</a></li>
            <button type="button" class="btn btn-link" (click)="login()" *ngIf="!isLogged">ingresar</button>
            <button type="button" class="btn btn-link" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesción</button>
        </ul>
    </nav>
</header>