<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Calculadora</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa obcaecati iure, perferendis alias commodi
                autem sint repellendus tenetur hic itaque eaque officiis, veniam necessitatibus eos, quod vel nobis amet
                delectus!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 imgproyecto">
            <img src="../../../../assets/github.png" alt="captura del proyecto" srcset="" class="img-fluid">
        </div>
    </div>
</div>