<div class="row">
    <h1>Experiencias</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias ullam. At consequatur tempore ut
                    ea. Voluptas doloribus, natus, at facere, nulla assumenda quam nesciunt id itaque temporibus
                    pariatur incidunt.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias ullam. At consequatur tempore ut
                    ea. Voluptas doloribus, natus, at facere, nulla assumenda quam nesciunt id itaque temporibus
                    pariatur incidunt.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias ullam. At consequatur tempore ut
                    ea. Voluptas doloribus, natus, at facere, nulla assumenda quam nesciunt id itaque temporibus
                    pariatur incidunt.</p>
            </li>
        </ul>
        
    </div>
</div>