<div class="row"> 
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/python.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <h1>Soft Skills</h1>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [radius]="80"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>