<div class="row ">
    <footer>
        <div>
            <p class="name">Roldan Francisco</p>
            <p class="profession">Web Developer jr.</p>
        </div>

        <div class="contact">
            <ul>
                <li><a href="http://"><img src="../../../assets/linkedin.png" alt="LinkedIn" srcset=""></a></li>
                <li><a href="http://"><img src="../../../assets/github.png" alt="github" srcset=""></a></li>
                <li><a href="http://"><img src="../../../assets/twitter.png" alt="twitter" srcset=""></a></li>
                <li><a href="http://"><img src="../../../assets/gmail.png" alt="Gmail" srcset=""></a></li>
            </ul>
        </div>

        <div>
            <p>Santa Fe, Santa Fe, Argentina | © Argentina Programa 2022</p>
        </div>
    </footer>
</div>