.banner{
    background-color: aqua;
    height: fit-content;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    height: 400px;

}

.textbanner{
    font-family: 'Gotham Black', sans-serif;
    color: darkslategrey;
    display: block;
    justify-content: left;
    align-items: bottom;
    padding: 10px;
    margin: 22% 0 0 35px;
}

.name{
    font-size: 2.5em;
    margin-bottom: -3%;
    font-family: 'Gotham Light', sans-serif;
}

.profession{
    font-size: 3em;
    margin-top: 0%;
}



