<div class = "container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="proyecto.titulo" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripción</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="urlProyecto">Link al proyecto</label>
                    <input type="text" class="form-control" id="urlProyecto" name="urlProyecto" [(ngModel)]="proyecto.urlProyecto" required>
                </div>       
                <!--<div class="form-group">
                    <label for="imgProyecto">Imagen</label>
                    <input type="file" class="form-control" id="imgProyecto" name="'imgProyecto'+{{proyecto.id}}" [(ngModel)]="proyecto.imgProyecto" (change)= "actualizarImagen($event)" accept="jpg, .jpeg, .png">
                </div>
                <div class="imagen">
                    <img [src]="imagenService.url" alt="" width="200px" height="auto">
                </div>-->
                <button class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>