.row{
    padding: 10px;
    text-align: center;
}

.name{
    font-size: 2.5em;
    margin-bottom: -3%;
    font-family: 'Gotham Light', sans-serif;
}

.profession{
    font-size: 3em;
    margin-top: 0%;
}

/*estilo de foto de perfil*/
@media (min-width: 576px) {

    #fotoperfil{
        border-radius: 100%;
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey;
        bottom: 27%;
    }

    #textbanner{
        font-family: 'Gotham Black', sans-serif;
        position: absolute;
        color: darkslategrey;
        text-align: left;
        align-items: bottom;
        margin-left: 25%;
        bottom: 37%;
    }

}

@media (max-width: 575px) {

    #fotoperfil{
      align-items: center ;
      position: absolute;
      border-radius: 100%;
      width: 30%;
      box-shadow: 3px 3px 3px grey;
      bottom: 31%;
      left: 33%;
    }

    #textbanner{
        font-family: 'Gotham Black', sans-serif;
        color: darkslategrey;
        position: absolute;
        font-size: 1.5em;
        text-align: center;
        align-items: bottom;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10%;

}