<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" id="textbanner">
        <p class="name"> Hi! I'm Roldan Francisco</p>
        <p class="profession">Web Developer jr.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../../assets/Roldán Francisco ( CV ).png" alt="" srcset="" class="img-fluid" id="fotoperfil">
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorum, consequatur modi magni eligendi
                minima voluptatibus accusamus qui labore a. Maxime sed aperiam quaerat explicabo perspiciatis quisquam
                dolorem amet rerum?</p>
        </span>
    </div>
</div>  